
<div  class="tela_lista">


  <h1>
    Lista de Informativos
  </h1>



   <div class="divsearch">
                <form action='/informatives'>
                 
                    <input  id="inputbusca" type="text" name="search"  placeholder="buscador" value="{$search}">
                    <button id="btbusca" type="submit" id="btcad"><i class="fa fa-search">buscar</i></button>
                    
                  
                </form>
     </div>  


  <a id="insertInfoLink" href="/informative/insert">Cadastrar Informativo</a>
  

<!-- Main content -->

              <table >
                <thead>
                  <tr>
                    <th hidden style="width:100px">ID</th>
                    <th  style="width:250px">Titulo</th>
                    <th hidden >Informação</th>
                    <th style="width:100px">Data</th>
                     <th hidden>iduser</th>
                    <th style="width: 400px">Opções</th>
                  </tr>
                </thead>
                <tbody>
                    {loop="$informatives"}
                  <tr>
                    <td hidden>{$value.idinformative}</td>
                    <td>{$value.title}</td>
                    <td hidden>{$value.information}</td>
                    <td>{$value.dtinformation}</td/>
                    <td hidden>{$value.iduser}</td/>
                    <td>
                <a  id="updateInfoLink" href="/updateInfo/{$value.idinformative}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                  <a  id="deleteInfoLink"  href="/informative/delete/{$value.idinformative}" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                   </tr>
                  {/loop}
                </tbody>
              </table>
                <!-- /.box-body -->
             <div class="divpagination">
              <ul class="ulpagination">
                {loop="$pages"}
                <li><a href="{$value.href}">{$value.text}</a></li>
                {/loop}
              </ul>
            </div>

<!-- /.content -->
</div>
<!-- /.content-wrapper -->