<div class="divformInfo">


<form   id="idFormInfo" name="idFormInfo"  onsubmit="return insert_update_info('insert')" class="formInfo" action="/informative/insert" method="post" enctype="multipart/form-data">
	

	<fieldset>
		
		<legend>Cadastrar Informativo</legend>



	
  {if="$error!= '' "}
  	{if="$error== 'deu certo' "}
  			<div class="alert alert-success" role="alert">Informativo cadastrado com sucesso!!!</div>
  	{else}
  			<div class="alert alert-danger" role="alert">{$error}</div>
  	{/if}		
 {else}
		 <div> </div>
 {/if}	
		

			<label>Titulo:</label>
			<input type="text" id="title" name="title" required><br>


			<label>Informação:</label><br>
			<textarea id="information" name="information" maxlength="1400" required>
				
			</textarea><br>


			<label>Data Informativo:</label>
			 <input type="date" id="dtinformation" name="dtinformation" required><br>

			 <label>Conselho:</label>
			<select id="conselhos" name="conselhos">
					
				 {loop="$conselhos"}
    		
    				<option value="{$value.idconselho}">{$value.name_conselho}</option>
    					
      			{/loop}

		    </select><br>


			 <label>Foto:</label>
			 <input type="file" id="imginformation" name="imginformation" accept="image/*" onchange="mostraImg()" ><br>
			 <img class="img-responsive" id="image-preview"  name="image-preview" src="/../../res/img/fundopmcg.jpg"  alt="image not found"><br>


			
			<input type="text" hidden id="iduser" name="iduser" value="{$iduser}">
			


	</fieldset>


	<input id='btcadInfo' type="submit" value="Salvar">


</form>


<script>
        $(document).ready(function() {
            $('#conselhos').select2();
        });
    </script>