

<div id="iddivformUser" class="divformUser">



<!--modal alterar senha-->
<div  id="containerModalSenha"   >
  <!-- conteúdo do modal aqui -->
  
  

 <div id="divtitlemodalSenha">
 		<h3>Alterar Senha:</h3>
 	

 </div>	
 
   
<div id="contentmodalSenha" >
  
			 		
<form id="idFormUserPass" name="idFormUserPass"  onsubmit="return update_password()" action="/updatepassword/{$user.iduser}" method="POST" >
	<input type="text" id="iduser" name="iduser" hidden value="{$user.iduser}"/>
			<label>Nova Senha:</label>
			<input type="text" id="despasswordnovo" name="despasswordnovo" required /><br>

			<label>Confirme Nova Senha:</label>
			<input type="text" id="despasswordnovoconf" name="despasswordnovoconf" required /><br>

	
        <input type="submit" id="btConcluirSenha"   name="btConcluirSenha" value="CONCLUIR" />
        <input  type="button" id="btCancelarSenha"   name="btCancelarSenha" value="CANCELAR" onclick="close_modalSenha()" />
</form>     

</div>
</div>

<!--end modal alterar senha-->


<!--modal conselhos-->
<div id="containerModalConselhos" >
  <!-- conteúdo do modal aqui -->
   		 
 <div id="divtitlemodal">
 		<h3>Selecione os conselhos:</h3>
 	
 </div>	


 			
 
  
  <div class="contentmodalConselhos">
   


		<div class="line">

			 {loop="$conselhos"}
    		
    	 			{if="$line < 3"}
    	
    				<input type="checkbox"  name="cons[]"  value="{$value.idconselho}"  {if="$cons[$line]==$value.idconselho"}checked{/if}>
      				<label for="{$value.name_conselho}">{$value.name_conselho}</label>
       
      				{/if}



    				<label label="{$line++}" hidden></label>
      		{/loop}


		</div>
	



		<div class="line">

			 {loop="$conselhos"}
    		
    	 			{if="$line2 >= 3 "}
    	
    				<input type="checkbox"  name="cons[]"  value="{$value.idconselho}"  {if="$cons[$line2]==$value.idconselho"}checked{/if}>
      				<label for="{$value.name_conselho}">{$value.name_conselho}</label>
       
      				{/if}



    				<label label="{$line2++}" hidden></label>
      		{/loop}


		</div>
	
	
        <input type="button" id="btconselhos"  onclick="close_modalConselhos()" name="btconselhos" value="CONCLUIR" >


</div>
</div>

<!--end modal conselhos-->




<form   id="idFormUser" name="idFormUser"  class='formUser'  onsubmit="return insert_update('update')"  action="/myuserupdate" method="post">
	

	<fieldset>
		
		<legend>Meus Dados</legend>



	
  {if="$error!= '' "}
  	{if="$error== 'deu certo' "}
  			<div class="alert alert-success" role="alert">Usuário alterado com sucesso!!!</div>
  	{else}
  			<div class="alert alert-danger" role="alert">{$error}</div>
  	{/if}		
 {else}
		 <div> </div>
 {/if}	
	

	{if="$errorPass!= '' "}
  	{if="$errorPass== 'senha alterada' "}
  			<div class="alert alert-success" role="alert">Senha alterada com sucesso!!!</div>
  	{else}
  			<div class="alert alert-danger" role="alert">{$error}</div>
  	{/if}		
 {else}
		 <div> </div>
 {/if}	


			
			<input type="text" id="iduser" name="iduser" hidden value="{$user.iduser}"><br>

			<label>Nome:</label>
			<input type="text" id="desperson" name="desperson" value="{$user.desperson}" required><br>


			<label>Login:</label>
			<input type="text" id="deslogin" name="deslogin" value="{$user.deslogin}" required><br>


		

			<label>Email:</label>
			<input type="email" id="desemail" name="desemail" value="{$user.desemail}" required><br>

			<label>Telefone:</label>
				<input type="tel" id="nrphone" name="nrphone" value="{$user.nrphone}"   maxlength="14" ><br>
<br>
		

<input id='btopenModal' onclick="open_modalConselhos()" type="button" value="Selecione os conselhos">

<input id='btopenModalSenha'  onclick="open_modalSenha()"  type="button" value="Alterar Senha">



<input id='btcadUser' type="submit" value="Alterar">



	</fieldset>


	



</form>
</div>

