


      <div class="conselhos" >


            <article>
                
                <section> <!--Sessao  dados conselho-->
                             <h2 >Conselho Municipal de Saúde-CMS</h2>   

                            
                    

                        

                        <fieldset>
                             <legend><h3>Objetivo</h3></legend>
                        


                        <p>
                            Criado inicialmente como órgão de caráter consultivo, com a finalidade de auxiliar a administração na orientação, planejamento e interpretação de assuntos relacionados as atividades de saúde do município, passando a ter caráter permanente e deliberativo para atuar na formulação de estratégias e no controle da execução da Política Municipal de Saúde, inclusive nos aspectos econômicos e financeiros, cujas decisões são homologadas pelo Chefe do Executivo Municipal.
                        </p>

                    </fieldset>


                     <fieldset>
                             <legend><h3>Competências</h3></legend>   
                        

                        <p>
                           1. Emitir parecer sobre planos, programas, projetos globais ou específicos que venham a ser inseridos na Política Municipal de Saúde, bem como sobre a regulamentação, fiscalização e controle sobre ações e serviços no âmbito do município;<br> 

                           2. Estabelecer critérios e diretrizes para a implementação do controle social no Sistema Único de Saúde/SUS e seus respectivos Regimentos Internos nas esferas Municipal, Distritais e Locais;<br> 

                           3. Propor a adoção de critérios que definam qualidade e resolutividade, verificando o processo de incorporação dos avanços e tecnológicos no Sistema Único de Saúde/SUS; <br>

                           4. Propor medidas para o aperfeiçoamento da organização e do funcionamento do Sistema Único de Saúde/SUS;<br> 

                           5. Fiscalizar e acompanhar o desenvolvimento das ações e serviços de saúde, explicitando os critérios definidos para tal;<br> 

                           6. Traçar diretrizes de elaboração e aprovaçãoo e ces de elaboração e aprovação e aprovar o Plano Municipal de Saúde, bem como a sua atualização periódica, adequando-o sempre a realidade epidemiológica e a capacidade operacional dos serviços de saúde;<br> 

                           7. Estabelecer critérios para a elaboração da Programação Orçamentária e Financeira e pronunciar-se conclusivamente, sobre a versão final encaminhada ao Poder Legislativo;<br> 

                           8. Fiscalizar a movimentação e destinação de todos os recursos financeiros do Fundo Municipal de Saúde;<br> 

                           9. Estimular a participação da sociedade civil organizada e o movimento popular nas instâncias colegiadas do Sistema Único de Saúde/SUS, estabelecendo critérios e diretrizes para implementação do controle social no município;<br> 

                           10. Estabelecer critérios e diretrizes quanto à localização e ao tipo de unidades prestadoras de serviço da Rede Municipal de Saúde – REMUS no âmbito do Sistema Único de Saúde/SUS;<br> 

                           11. Acompanhar e avaliar atividades das instituições públicas e privadas de saúde, credenciadas pelo Sistema Único de Saúde/SUS, definindo critérios mínimos de qualidade para o seu funcionamento;<br> 

                           12. Estimular ou promover estudos e pesquisas sobre assuntos e temas na área de saúde de interesse para o desenvolvimento do Sistema Único de Saúde/SUS;<br> 

                           13. pronunciar-se sempre que necessário, sobre a criação, adequação e reformulação da grade curricular de cursos da área de saúde no âmbito do município;<br> 

                           14. Participar da formulação e avaliação das políticas públicas de saneamento, meio ambiente, transporte e trânsito, habitação, educação, alimentação, assistência Social, segurança pública, garantindo a inter setorialidade das políticas com o setor da saúde pública;<br> 

                           15. Apreciar e pronunciar-se, conclusivamente, sobre o Relatório de Gestão do Sistema Único de Saúde/SUS apresentado anualmente pela Secretaria Municipal de Saúde Pública de Campo Grande - MS;<br> 

                           16. Deliberar sobre a política de saúde em consonância com as 12 propostas das Conferências de Saúde;<br> 

                           17. Manifestar-se sobre os Projetos de Lei de interesse da saúde em tramitação na Câmara Municipal;<br>

                           18. Tomar as medidas necessárias para permanente orienta dos usuários sobre os serviços oferecidos pelas Unidades Saúde de Campo Grande - MS;<br> 

                           19. Apreciar previamente os contratos e convênios a serem estabelecidos com os prestadores de serviços para o Sistema Unico de Saúde/SUS de acordo co a legislação pertinente;<br> 

                           20. Estabelecer ações de informacão, educação, comunicação em saúde e divulgar as funções e competências deste Conselho, seus trabalhos e decisões pelos meios de comunicação, incluindo informações sobre as agendas, as datas e o local das reuniões plenárias; <br>

                           21. Acompanhar o cumprimento das deliberações constantes das atas do pleno do Conselho Municipal de Saúde de campo Grande - MS. <br>
 

                        </p>

                    </fieldset>

                    <fieldset>
                             <legend><h3>Legislação</h3></legend>     
                        

                        <p>
                            1. Lei n° 2.784 de 27 de dezembro de 1990;<br> 
                            2. Lei n° 2.811 de 07 de junho de 1991;<br> 
                            3. Decreto n° 6.340 de 02 de agosto de 1991;<br> 
                            4. Lei n° 3.013 de 30 de novembro de 1993;<br> 
                            5. Lei n° 3.780 de 21 de agosto de 2000;<br> 
                            6. Lei n° 4.234 de 18 de novembro de 2004;<br> 
                            7. Decreto n° 8.099 de 31 de outubro de 2000.<br>
                        </p>

                      </fieldset>  



 <br>

                              


                </section><!--end Sessao  dados conselho-->


 

            <section><!-- aside  dados noticias-->
                    
                    <fieldset>
                         <legend><img id="ultimasnoticias" src="../res/img/ultimasnoticias.png" alt="image not found"></legend>



                        {loop="$noticias"}
                         <div style="padding-top:20px ;">
                                <img style="border:2px solid black;" src="..{$value.imginformation}" alt="image not found" width="250" height="200"> 
                                
                                <h4>{$value.title} <small>publicado: {$value.dtinformation}</small></h4>

                                
                               <p> {$value.information}</p>
                                
                            </div>
                        {/loop}
                            

                             {if="$noticias==null"}
                                <h4>Sem noticias !!!</h4>
                            {/if}  

                        

                    </fieldset>   
                    

            </section> <!--end aside  dados noticias-->

              </article> 

    </div>
