  <div class="divPrincipal">
         <!-- div principal-->
            <article>
             <div id="grid">  

               <div id="linha1" >
                  
                    

          {loop="$conselhos"}
         
               {if="$line < 3"}

                 <div class="divContentConselho">
                        
                        {if="$value.idconselho == 1"}
                        <img class="imgsConselhos"  height="180px" width="120px" src='{if="$value.path_logo!=null"}{$value.path_logo}{else}../res/img/fundopmcg.jpg{/if}' alt="image not found" >
                        <a class="linksConselhos" href="/colegiados/{$value.name_conselho}">{$value.name_conselho}</a>
                        {/if}

                        {if="$value.idconselho == 2"}
                        <img class="imgsConselhos" height="120px" width="120px" src='{if="$value.path_logo!=null"}{$value.path_logo}{else}../res/img/fundopmcg.jpg{/if}' alt="image not found" >
                        <a class="linksConselhos" href="/colegiados/{$value.name_conselho}">{$value.name_conselho}</a>
                        {/if}

                        {if="$value.idconselho == 3"}
                        <img class="imgsConselhos" height="180px" width="120px"  src='{if="$value.path_logo!=null"}{$value.path_logo}{else}../res/img/fundopmcg.jpg{/if}'  alt="image not found" >
                        <a class="linksConselhos" href="/colegiados/{$value.name_conselho}">{$value.name_conselho}</a>
                        {/if}
                     
                  </div>
       
                  {/if}





               <label label="{$line++}" hidden></label>
            {/loop}

      


               </div><!--end line1-->



                <label label="{$line=0}" hidden></label>


                <div id="linha2">
                  
                  
               {loop="$conselhos"}
         
                  {if="$line >= 3 "}      

                     <div class="divContentConselho">

                         {if="$value.idconselho == 4"}
                        <img  class="imgsConselhos" height="120px" width="120px" src='{if="$value.path_logo!=null"}{$value.path_logo}{else}../res/img/fundopmcg.jpg{/if}' alt="image not found" >
                        <a class="linksConselhos" href="/colegiados/{$value.name_conselho}">{$value.name_conselho}</a>
                        {/if}
                        
                         {if="$value.idconselho == 5"}
                        <img class="imgsConselhos"  height="180px" width="120px" src='{if="$value.path_logo!=null"}{$value.path_logo}{else}../res/img/fundopmcg.jpg{/if}' alt="image not found" >
                        <a class="linksConselhos" href="/colegiados/{$value.name_conselho}">{$value.name_conselho}</a>
                        {/if}

                         {if="$value.idconselho == 6"}
                        <img class="imgsConselhos" height="180px" width="120px" src='{if="$value.path_logo!=null"}{$value.path_logo}{else}../res/img/fundopmcg.jpg{/if}'  alt="image not found" >
                        <a  class="linksConselhos" href="/colegiados/{$value.name_conselho}">{$value.name_conselho}</a>
                        {/if}

                     </div>

                      {/if}



               <label label="{$line++}" hidden></label>
            {/loop}
                     
                     

               </div><!--end line2-->

            </div><!--end grid-->










            </article>






   </div>