
        <footer>
                    
                    <div class="datafooter">
                          
                          <h3>Assessoria de Assistência aos Orgãos Colegiados-AAOC</h5>
                          <address>
                           <b> Rua Rui Barbosa, 691 – Vila Santa Dorotheia ,Campo Grande - MS, Brasil 
                            <br> CEP: 79004-430 - Fone: 2020-1204</b> <br>
                            <a href="#">Facebook</a> || 
                            <a href="#">Instagram</a> || 
                            <a href="#">Whatsapp</a>

                          </address>   
                           
                         
                        
                    
                    </div>
        
        </footer>



    <script src="../res/js/scripts.js" ></script>    
     <script src="../res/js/babels.js" ></script> 
      <!-- jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Inclui todos os plugins compilados (abaixo), ou inclua arquivos separadados se necessário -->
    <script src="../res/js/bootstrap.min.js"></script> 
     
      </body>
</html>