
      <div class="main" >

            <div class="w3">
                      
                <div class="div" >
                                 <div id="page1" class="page1"> </div>
                                              
                        

                </div>
                
                <div class="div" >
                         <div id="page2" class="page2"> </div>
                       
                </div>
                
                <div class="div" >

                         <div id="page3" class="page3"> </div>

                </div>
                
                <div class="div" >

                         <div id="page4" class="page4"> </div>

                </div>

                <div class="div" >

                         <div id="page5" class="page5"> </div>

                </div>

                <div class="div" >

                         <div id="page6" class="page6"> </div>

                </div>

                <div class="div" >

                         <div id="page7" class="page7"> </div>

                </div>

                <div class="div" >

                         <div id="page8" class="page8"> </div>

                </div>

                 <div class="div" >

                         <div id="page9" class="page9"> </div>

                </div>
                      
                <div class="buttons">

                      <button value="Anterior" onclick="plusDivs(-1)">&#10094;</button>
                      <button  class="bt" onclick="showDivClick(0)" >1</button>
                      <button class="bt" onclick="showDivClick(1) ">2</button>
                      <button  class="bt" onclick="showDivClick(2)">3</button>
                      <button class="bt"  onclick="showDivClick(3)">4</button>
                      <button class="bt"  onclick="showDivClick(4)">5</button>
                      <button class="bt"  onclick="showDivClick(5)">6</button>
                      <button class="bt"  onclick="showDivClick(6)">7</button>
                      <button class="bt"  onclick="showDivClick(7)">8</button>
                      <button class="bt"  onclick="showDivClick(8)">9</button>
                      <button  value="Próximo"   onclick="plusDivs(1)">&#10095;</button>  

                </div>

                <br>
            </div>

        </div>

        