<p>
Nesse sentido de assessoramento à Assessoria, foi criada:
</p>

<ul>

<li>
 A Comissão Intersetorial de Promoção de Equidade do Sistema Único de Saúde -SUS 
e Redução de Danos -CIPE-SUS-RD, criado pela ...;
</li>

<li>
O grupo condutor da Rede  de Atenção as Urgências e Emergências -GCNRUE, criado pela Lei . . . . . de 2012/2019; 
</li>

<li>
O Comitê Gestor Todos no  Ônibus com Todos, criado pelo Decreto 13850 de 10/04/2019;
</li>

<li>
O Conselho Municipal do Bem Estar Animal, criado pela Lei n° 6712 de  11/11/2021;
</li>

<li>
O Conselho Municipal das Feiras Livres -CMFL, criado pela Lei. . . . . . . . . . . . . .;
</li>

</ul>

<p>
Faz necessário pontuar que após promover Concurso Público para eleger-se  os Conselhos Tutelares deste municipio foram criados:
</p>

<ul>
<li>
 O 1° Consello Tutelar, Região Sul de Campo Grande, MS  pela Lei n° 2918 de 05/09/1992;
</li>

<li>
O 2° Conselho Tutelar da Regioão Norte de Campo Grande-MS, criado pela Lei n° 3400 de 25/11/1997;
</li>

<li>
 O 3° Conselho Tutelor da Região do Centro de Campo Grande-MS, criado pela Lei n° 4938 de 11/04/2011;
</li>

<li>
O 4° Conselho Tutelar  da Região da Bandeira de Campo Grande-MS, criado pela Lei n° 5713 de 11/07/2016;
</li>

<li>
O 5° Conselho Tutelar da Região da Lagoa de Campo Grande-MS, criado pela Lei n° 5923 de 08/12/2017;
</li>
</ul>

<p>Por fim foi criado o Comitê Interinstitucional Muncipal de Promoção,Proteção e Apoio aos Migrantes,Internacionais 
e Refugiados suas familias, Crianças e Adolescentes no município de Campo Grande -CIMPAMIRF.
</p>

<p>Prosseguindo com o seu papel de Assessoria o secretário Estadual de Cultura do Estado de Mato Grosso do Sul em 1998 solicitou à Coordenadoria hoje, Assessoria de Assistência aos Orgãos Colegiados -AAOC ministrar curso para aproximadamente 30(trinta) municípios em Corumbá Mato Grosso do Sul, possibilitando e orientando que estes criassem seus Conselhos Municípais de Cultura nos moldes daquele criado neste município de Campo Grande-MS.
</p>

<p>
Acâdemicos do Curso de Ciências Sociais da Universidade Federal de Mato Grosso do Sul -UFMS, em visita a Assessoria nos anos de 2002 buscaram conhecimento sobre o funcionamento dos Conselhos Municípais e fizeram pesquisa como exigência parcial para conclusão  da disciplina "Introdução  à Sociologia e a Teoria Sociológica"  e constatou que em Campo Grande-MS se apresentavam como um campo previlegiado para o aprendizado da democracia e a reconstrução da politica dado à proximidade que a esfera local dispunha com os cidadãos. 
Assim fizeram entrevistas entre os  Conselhos de Políticas Públicas, de garantia e de defesa de direitos, Conselho estes de natureza deliberativa, endagando como se deve se efetivar a formação desses colegiados,competências forma de escolha dos representantes da sociedade civil organizada, controle sobre os recursos aplicados e sobre as ações do Poder Público, grau de articulação com os diversos segmentos sociais, sobre os itens de pauta se eram ou não decididos previamente pelo pleno, concluindo que os Conselhos funcionam de forma autonôma embora seu fucionamento são regidos por regras,regimentos internos por eles elaborado onde procedimentos são formulados e aprovados pelo seus membros, tendo portanto suas autonomias nas decisões, a visto que os Conselhos se reúnem em espaço de discussão de negociação, de articulação, oferecendo oportunidades e novos desafios.
</p>

<p>
E nessa linha de ação em abril de 2011 a Assessoria de Assistência aos Orgãos Colegiados -AAOC, recebeu a visita 
de Assessores da Presidência da República de Brasilia-DF, os senhores José Mauro Cassimiro e José Claudeonor, ambos da Secretária Nacional de Estudos e Pesquisas Políticas Sociais que por informações de conselheiros do Conselho Municipal de Saúde -CMS de Campo Grande que motivou-os a conhecerem a Coordenadoria hoje Assessoria de Assistência aos Orgãos Colegiados -AAOC e ressaltaram que esta era conhecida como "referência nacional", por conta de confirmarem a frequência de conselheiros nas sessões plenárias realizadas e em especial os conselheiros do Conselho Municipal de Saúde -CMS que circulavam com uma certa frequência em eventos promovidos em Brasília-DF, que noticiavam sobre os funcionamentos dos Conselhos Municipais que funcionavam  em Campo Grande.
</p>

<p>
 E em dezembro de 2012 a acadêmica do Curso de Optometria, da Universidade Estadual de Santa Catarina esteve visitando à Coordenadoria para conhecer o seu funcionamento e a dos Conselhos Municipais e Regionais que nela funcionavam 
</p>