<ul>

<li>Conselho Municipal dos Diretos da Mulher-CMDM, Conselho Municipal de Emprego e Renda criado pelo Decreto n° 8828 de 11/12/2003, hoje modificado passando a nominar Conselho do Trabalho, Empruge e Renda -CTER, pela Lei n° 6208 de 25/05/2019, Diogrande 5586 de 23/05/2019.
</li>

<li>
O Conselho de Desenvolvimento Rural -CMDR, que passou a funcionar com nova nomenclatura, foi criado pela Lei n° 3381 de 
13/10/1997 e  Lei n° 4477 de 30/05/2007;
</li>

<li>
O Conselho Municipal de Acompanhamento e Controle Social do Fundo de Manutenção e Desenvolvimento da Educação Básica e Valorização dos Profissionais da Educação - CMACS/FUNDEB foi criado pela Lei  n° 3405 de 01/12/1997;
</li>

<li>
O Conselho Municipal de Desenvolvimento Econômico -CODECON, foi criado pela Lei Complementar n° 29 de  25/10/1999; 
</li>

<li>
O Conselho Municipal de Segurança Alimentar e Nutricional -COMSAN, foi criado pela Lei nº 4038 de 12/05/2003;
</li>

<li>
O Conselho Municipal dos Direitos dos Negros -CMDN, criado pela Lei n° 2967 de 07/10/1993;
</li>

<li>
O Conselho Municipal dos Direitos e Defesa dos Povos Indigenas -CMDDI-CG-MS, foi criado pela Lei n° 4277 de 11/05/2005;
</li>

<li>
O Conselho Municipal Antidrogas-COMAD, foi criado pela Lei n° 4019 de 06/03/2003;
</li>

<li>
O Conselho Municipal do Idoso -CMI, foi criado pela Lei n° 3329 de 12/05/1997; 
</li>

</ul>
<p>
Em acompanhamento ao serviço prestado por esta Assessoria outros colegiados foram criados e colocados em funcionamento 
sendo eles: 
</p>

<ul>

 <li>   
O Conselho Municipal da Juventude pela Lei n° 4470 de 23/05/2007;
</li>

<li>
O Conselho Municipal de Fomento,Indústria e Serviços -COMCIS, pela Lei n° 4622 de 22/04/2008;
</li>

<li>
O Comitê do Sistema Municipal de Atênção as Urgências -COMAU,  pela Resolução  n° 36/SESAU de 05/12/2003;
</li>

<li>
O Cômite Municipal de Mortalidade Materna e Infantil -CMMI, pela Deliberação n° 8/CMS de 06/09/2001;
</li>

<li>
A Comissão Intersetorial de Saúde de Trabalhador -CIST;
</li>

<li>
Comissão Municipal de DST/AIDS -DST/AIDS pela Deliberação n° 30/CMS de 15/08/2000;
</li>

<li>
A mesa de Participação e de Negociação Permanente -MPNP pela Deliberação n° 35/CMS de 14/11/2000;
</li>

<li>
A Comissão Intersetorial de Saúde Mental -CISM;
</li>

<li>
O Comitê Municipal de Incentivo ao Aleitamento Materno de Campo Grande -CIAM, pela Deliberação n° 12 de 28/09/2021;
</li>

<li>
Comitê Gestor de Tecnologia da Informação e Inovação - CG/TII;
</li>

<li>Comissão Permanente de Ética dos Conselhos Tutelares de Campo Grande, Mato Grosso do Sul -COPECT-CD-MS, 
 criada pela Lei n° 4503 de 03/08/2007 e Decreto PE n° 1990 de 22/11/2012;
</li>

<li>
Conselho Regional de Região Urbana do Anhanduizinho -CRRUB, pela Lei n° 7361  de 13/12/1996;
</li>

<li>
Conselho Regional do Distrito de Anhandui - CRRUA, pela Lei n° 7361 de 13/12/1996;
</li>

<li>
Conselho Regional da Região Urbana do Bandeira -CRRUB, pela Lei n° 7361 de 13/12/1996;
</li>

<li>
Conselho Regional da Região Urbana do Centro pela Lei n° 7361 de 13/12/1996;
</li>

<li>
Conselho Regional da Região Urbana do Imbirussu, 
</li>

<li>
Conselho Regional da Regiao Urbana da Lagoa -CRRUL;
</li>

<li>
 Conselho Regional da Região Urbana do Prosa -CRRUP criado pela Lei n° 7361 de 13/02/1996 
</li>

<li>
Conselho Regional da Região Urbana do Segredo -CRRUS, pela Lei n° 7361 de 13/12/1996;
</li>

</ul>

<p>
Ressalta que as Comissões Intersetoriais subsidiam as decisões do Conselho Municipal de Saúde e a COPECT-CG-MS contribui com o 
Conselho Municipal dos Direitos da Criança e de Adolescente -CMDCA </p>