<p>
E também  neste mesmo mês de dezembro a senhora Andrea Santos Garcia do município de Piracicaba, São Paulo, telefonou para saber a respeito se o seu projeto "Relações Ecológicas em Paisagem Fragmentada de Cerrado" e análise para a conservação da área de Preservação Ambiental-APA do Guariroba foi aprovado pelo Conselho Municipal do Meio Ambiente -CMMA 
</p>
<p>
E no mês de maio de 2013, o senhor Luciano Eroney Amorim do município de Dourados, MS telefonou e pedia copia da lei de criação desta Assessoria e encaminhou por Email (eroneyamorim@yahoo.com.br).Enquanto que nos meses de abril e maio do mesmo ano acadêmicos do Curso de Enfermagem, a senhora Yara Cristina Pereira cumpriu carga horária vespertina nesta Coordenadoria pesquisando e estudando atas do Conselho Municipal de Saúde-CMS, buscando contéudo discutido pelos conselheiros para elaboração de sua tese de Curso de Pós graduação Strito Sensu, defendendo essa tese em doutorado, deixando o seu contato 30268752 ou 99452866 ou pelo email iarabr02@brturbo.com.br.
</p>

<p>
Em fevereiro de 2013 acadêmicas do Curso de Serviço Social, estagiárias do município de Ivinhema-MS, solicitaram por telefone cópia da legislação do Conselho Municipal dos Direitos da Criança e do Adolescente -CMDCA e do Fundo Municipal da Infância e do Adolescência objetivando a sua criação naquele município e deixou  seu contato 344215901 (Natália) ou email aparecido_junior@mp.ms.gov.br.
</p>

<p>
Já em junho de 2013, o senhor Salvador do município de Três Lagoas -MS, telefonou pedindo informações e orientações sobre o funcionamento dos Conselhos Municipais de Campo Grande -MS, e solicitou cópias da legislação do Conselho Municipal de Assistência Social -CMAS, do Conselho Municipal de Saúde, do Conselho Municipal do Idoso -CMI para implantação naquela cidade. E deixou o seu contato salvador@treslagoas.ms.gov.br 
</p>

<p>
Em 22 de agosto de 2013, a Coordenadora do Curso de Optometria da Universidade do Contestado, Unidade Universitária de Canoinhas, Santa Catarina, Professora Isabella Murara Vieira, encaminhou expediente apresentando a acadêmica senhora Angela Barreiro Velasque que cursava a disciplina de Saúde Pública e estuda o Sistema Único de Saúde, mas específicamente o assunto Conselhos de Saúde e esta participou de uma reunião do Conselho Municipal de Saúde de Campo Grande, Mato Grosso do Sul, visitou as suas instalações e esta Assessoria, tomou conhecimento de seu funcionamento, registro de atas das sessões plenárias do CMS, legislação do Conselho e das Entidades que o compõe para que pudesse posteriormente fazer um relatório. E manifestou-se satisfeita com as informações recebidas sobre a política pública da área de saúde deste municípico.
</p>

<p>
E em 10 de abril de 2014, técnica da Secretária Municipal de Assistência Social de Bataguassu, Mato Grosso do Sul, telefonou solicitando informações sobre o Conselho Municipal dos Direitos da Mulher -CMDM e obteve cópia de toda legislação deste Conselho para se adequar à realidade de seu municipio e deixou contato 35413269 (SAS) e celular 81146659 e Email cidagenesio@hotmail.com
</p>

<p>
Já em 15 de abril de 2014, visitou esta Assessoria a Coordenadora de Apoio aos Orgãos Colegiados do município Paraíso das Águas-MS e pediu orientações sobre: o funcionamento dos diversos conselhos desta cidade, modelo de atos de nomeação e de recondução dos conselheiros, Leis, Decretos, Regimento Interno desses colegiados. E deixou seu contato 32481040 (Prefeitura) e 32481561 (Residência) e o seu Email orgaocolegiado@paraisodasaguas.ms.gov.br.
</p>

<p>
Em  1 de setembro de 2014, a senhora Mariquinha do município de Fátima do Sul -MS, pediu orientações sobre o Conselho Municipal de Acompanhamento e  Controle Social do Fundo de Manutenção e Desenvolvimento da Educação Básica e Valorização dos Profissionais da Educação -CMACS/FUNDEB. Em  e de setembro a senhora Nádia complementou suas informações acerca de Portarias Federais das esfera federal.
</p>