<p>Observou-se que os Conselhos Municipais analisados nasceram sob a coordenação estatal de governo, mas a coordenação de seus funcionamentos detem a tarefa de promever a articulação dos diferentes aspectos e decisões, dando organicidade as ações do grupo como um todo. E na medida em que o grupo se engaja, aprende com o trabalho e passa a ser capaz para se auto dirigir. Entendeu-se que os Conselhos são espaços de discussão, de negociação, de articulação e oferecem oportunidades e novos desafios.
</p>
<p>
Essa realidade deve ser compreendida como um processo dinâmico, pois na medida em que se melhora a compreensão da realidade pelo trabalho cooperativo,  pela descoberta de relações não visiveis nos fatos em si, pela interpretacão dos indicadores de interdependência presentes nos fenômenos sociais, as pessoas e os grupos organizam os seus pensamentos, discutem as ideologias interessadas separando a compreensão da realidade e da necessidade de sua  transformação.
</p>

<p>
Compreendeu a equipe de estudantes que cabe à comunidade a tarefa de entender-se como a principal "peça"  que compõe a realidade social, decorrendo dai a exigência de alto grau de comprometimento de todos e por todos, ou seja, um forte sentido de lealdade comunitária, pois onde houver dificuldade individual, o debate coletivo, prevalece, sempre que necessário.
</p>

<p>
 Concluíu a equipe de acadêmicos que no contexto histórico atual,político,econômico e social devam ser ajustadas as fórmulas adequadas ao exercicio  do controle social, onde os Conselhos configuram-se como possíveis causas de mediação dos interesses coletivos e das políticas governamentais, como espaços adequados para o estabelecimento de políticas públicas.
</p>

<p>
 Faz-se necessário destacar que o Conselho Municipal de Desenvolvimento e Urbanização - CMDU ja funcionava desde o ano de 1987 com o objetivo de possibilitar a participação da sociedade cívil nas discussões referentes a Política de Desenvolvimento e a Política Urbana do município de Campo Grande como orgão consultivo, fiscalizador e proponente da Prefeitura Municipal criado pelo Decreto nº5484 de 9 de março de  1987, se apresentando então como o primeiro Conselho Municipal criado, seguido pelos demais colegiados criados e em funcionamento neste município, criados por leí ou por Decreto Municipal. No entanto este Conselho hoje por força de normas federais mudou 
sua nomenclatura quando Campo Grande decidiu readequar seu primeiro Plano Diretor elaborado primeiramente em 1990 e em 2021 sofreu suas primeiras adequação e modificou então o Conselho Munícipal de Desenvolvimento e Urbanização -CMDU para Conselho Munícipal da Cidade, manteve sua sigla aumentou seu número de assentos entendendo que outros segmentos da sociedade civil organizada precisavam compor este Conselho que funciona hoje regularmente em nossa cidade.
</p>

<p>
Outros colegiados então foram criados neste munícipio em 1990 o Conselho Munícipal de Saúde - CMS criado pela Lei n°2784 de 27/12/1990; sendo seguido pelo Conselho Munícipal  dos Direitos da  Criança e do Adolescente -CMDCA, pela Lei nº2892 de 09/07/1992 ; o Conselho Munícipal da Cultura -CMC criado pela Leí n°3017 de 01/12/1993 e que hoje também modificou sua nomenclatura passando a compor a Assessoria como Conselho Munícipal de Políticas Culturais-CMPC. 
</p>

<p>
O Conselho Munícipal de Apoio à Pessoa Portadora de Deficiência -COMPD foi criado pela Lei nº3036 de 21/03/1994, hoje também dispõe de outra nomenclatura, Conselho Munícipal de Apoio a Pessoa com Deficiência -COMPD.
</p>

<p>
Em seguida a Lei n°3108 de 20/12/1994 criou o Conselho Munícipal de Assistência Social -CMAS;o Conselho Munícipal do Meio Ambiente - CMMA foi criado pela Lei n°3176 de 11/06/1995. E o Conselho Munícipal de Alimentação Escolar -CMAE foi criado pela Leí n°3177 de 11/07/1995; o Conselho Munícipal de Turismo -CONTUR pela Leí n°3974 de 12/07/1994.
</p>

<p>
A que se considerar que a Coordenadoria de Apoio aos Orgãos Colegiados- CAOC foi criada pela Leí n°2951 de 27/07/1993 como orgão de acolhimento,encaminhamento e busca de soluções para as questões relacionadas as atividades dos níveis de atuação auxiliar, de execução programática, com atribuições definidas na sua leí de criação.
</p>

