
<p>
E nesta direção  visando garantir uma gestão democrática também modificou sua nomenclatura para Assessoria de Assistência aos Orgãos Cole giados -AAOC e vem contribuindo com este processo democrático garantido pela nossa Carta Magna, a Constituição Federal de 1988 foi regulamentada pelo decreto  n° 14.191 de 17/03/2020 dispõe sobre  nova composição do Conselho Municipal da Cidade -CMDU com 18 vagas
para Executivo Municipal, 10 vagas para os movimentos populares, 3 vagas para trabalhadores por  suas entidades sindicais, 7 vagas para empresários relacionados à produção, 5 vagas para entidades  profissionais,acadêmica, de pesquisa e conselhos profissionais e por fim 1 vaga para organização não governamental, somando um total de 44 assentos.
</p>
<p>
Continuando nessa direção o munícipio de Campo Grande instituiu pelo Decreto n°7361 de 13/12/1996 e criou:
</p>

<ul>
	<li>- Conselhos Regionais das Regiões Urbanas de Anhanduizinho -CRRUA;</li>
 	<li>- Conselho Regional da Região Urbana da Bandeira -CRRU Bandeira;</li>
 	<li>- Conselho Regional da Região Urbana de Centro -CRRU Centro;</li>
 	<li>- Conselho Regional da Região Urbana do Imbirussu -CRRU Imbirussu;</li>
 	<li>- Conselho Regional da Região Urbana da Lagoa -CRRU Lagoa;</li>
 	<li>- Conselho Regional da Região Urbana do Prosa -CRRU Prosa;</li>
 	<li>- Conselho Regional da Região Urbana do Segredo -CRRU Segredo;</li>
 	<li>- Conselho Regional do Distrito de Anhanduí;</li>
  	<li>- Conselho Regional do Distrito de Rochedinho;</li>
	
</ul>
 
 <p>
  Estes colegiados foram previstos pela Leí Complementar n°5  de 22/11/1995  como formas de organizações comunitárias e são sediados nesta Assessoria.
</p>

<p>
 Salienta outros prontos de importância que funcionam neste orgão público que são as Comissões Intersetoriais e Comitês criados e que subsidiam as decisões do Conselho Munícipal de Saúde-CMS.
</p>

<p>
O Conselho Munícipal dos Direitos da Criança e do Adolescente -CMDCA, promoveu concurso para habilitar e formar 5 Conselhos  Tutelares e estes últimos também criou a Comissão Permanente de Ética dos Conselhos Tutelares de Campo Grande, Mato Grosso do Sul -COPECT-CG-MS nomeados como:
</p>

<ul>
	<li>1° Conselho Tutelar da Região Sul;</li>
	<li>2° Conselho Tutelar Região Norte;</li> 
	<li>3° Conselho Regional Região do Centro;</li>
	<li>4° Conselho Regional da Região da Bandeira;</li>
	<li>5° Conselho Tutelar da Região do Lagoa;</li>
	



</ul>

<p>
Relata ainda a criação e funcionamento de outros Conselhos Munícipais criados como: 
</p>

