<p>
e que dispõe sobre a composição desse conselho. Ressalta que atualmente este Conselho obteve nova composição conforme
legislação federal em vigor.
</p>

<p>
No dia 5 de janeiro de 2015, a Sra. Miriam da Prefeitura de Santa Rita do Pardo -MS, requereu cópias da lesgilação do
Conselho Municipal de Apoio ao Direitos da Pessoa com Deficiência -COMPD, pois iriam criar em seu municipio.
</p>

<p>
Recebeu a Assessoria a visita do Sr. Edmilson e do Sr. Vagner, sendo o primeiro do Supermercado Veratti eo
segundo da Limpar, sita na Avenida Júlio de Castilho n°64, os quais no dia 19 de janeiro de 2015, procuraram a Coordenadoria para
buscarem informações sobre o funcionamento dos Conselhos Municipais e Regionais deste municipio. 
</p>

<p>
Em 23/03/2016 a acadêmica do curso de Serviço Social da UNIDERP consultou a Coordenadoria sobre legislação que criou os Conselhos
Municipais de Campo Grande-MS.
</p>

<p>
No dia 25/04/2016 a Sra. Jovi do municipio de Nova Alvorada entrou em contato com esta Assessoria solicitando informações sobre
o Conselho Municipal dos Direitos da Mulher -CMDM.
</p>

<p>
Acadêmico da UEMS do municipio de Paranaíba procurou este orgão para conhecer a legislação dos Conselhos Regionais de nossa cidade
e outras vezes visitou nossas instalações.
</p>

<p>
O professor Ailton Souza da UEMS esteve visitando esta Coordenadoria para conhecer nossas instalações e solicitou informações sobre os 
Conselhos Municipais desta Capital objetivando incluir essas informações em sua tese em Dotourado pela Universidade Federal de Campinas-UNICAMP.
</p>

<p>
A Técnica Renata da Prefeitura de Corumbá-MS, consultou esta Coordenadoria para saber sobre a legislação dos Conselhos Tutelares deste município, legislação federal em 24/03/2017.
</p>

<p>
As acadêmicas do Curso de Serviço Social da Universidade do Paraná -UNOPAR, as  Sras. Maria José Silva Carrijo,Roseny Dias Castro Ferreira e Silva e Silvia Ferreira Bueno estiveram na Assessoria para saber sobre os Conselhos criados, legislação municipal e federal, número de colegiados existente, finalidade e funcionamento dos Conselhos em funcionamento na cidade.
</p>

<p>
Já Katyelle do Municipio de Antonio João-MS, pediu orientações em 25/05/2017 quanto a criação do Conselho Tutelar mas específicamente sobre a Comissão Permanente de Ética dos Conselhos Tutelares de Campo Grande -MS.
</p>

<p>
Do município de Água Clara-MS em 07/08/2017 o Sr. Diego solicitou cópia da legislação do Conselho Municipal dos  Direitos da Mulher-CMDM.
</p>

<p>
A Sra. Nair do municipio de Santa Rita do Pardo-MS em 04/09/2018 solicitou informações sobre o Conselho Municipal dos Direitos da Mulher -CMDM.
</p>

<p>
O Indigena Reginaldo Cabroxa do Municipio de Nioaque-MS, em 22/10/2018 solicitou informações quanto a organizar Entidades não governamentais e foi-lhe encaminhado um Manual de Orientação fornecido pela Secretária Municipal de Assistência Social de Campo Grande-MS.
</p>

<p>
O Sr. Antônio Carlos(falecido em 28/11/2018), nos fez uma visita, como representante do controle social dos feirantes para solicitar apoio para colocar em funcionamento o Conselho Municipal das Feiras Livres que estava criado desde 2014 e este hoje funciona regularmente.
</p>            