
       

            <h2 >Assessoria de Assistência aos Orgãos Colegiados-AAOC</h2>
            <h3 >Exercitanto a Democracia...</h3>
          
<p >
Com a Constituição da República Federativa do Brasil, em 5 de outubro 1988, se estabeleceu a participação da comunidade nas ações e serviços de saúde e na gestão prática do Ensino Público, surgindo támbem as Leis federais como a Lei Orgânica da Assistência Social e o Estatuto da Criança e do Adolescente - ECA que possibilitaram a criação dos diversos Conselhos Municipiais brasileiros.
</p>

<p>
A Lei Orgânica Municipal de 1990 (art 78-79.80) em Gampo Grande, Mato Grosso do Sul previu a criação dos  Conselhos municipais como orgãos governamentais com a finalidade de auxiliar a administração Pública, na orientação, no planejamento e interpretação de matéria de sua competência. Estabeleceu que os Conselhos municipais fossem criados por lei específica, definindo as competências de cada um, organização, paridade na composição, funcionamento, forma de nomeação e posse de seus membros titulares e suplentes e o prazo de duração de seus mandatos!
</p>

<p>
Ainda disciplinou que os Conselhos Municipais fossem compostos por números de membros definidos por Lei devendo a Câmara Municipal aprovar "ad referedum" a indicação de seus nomes, observando a representatividade da administracão das entidades públicas, classistas e da sociedade civil organizada, facultando a realização de audiência com a Comissão Pertinente. Atribuiu ao Chefe do Executivo Muncipal nomear os membros titulares e suplentes indicados pelas entidades representativas para os respectivos Conselhos.
</p>

<p>
Normatizou que os Conselhos Municipais se articulassem com o Poder Legislativo, participando das reuniões das Comissões Permanentes da Câmara Municipal de Campo Grande, representados por um de seus membros como convidados ou por convocação. E nessa linha de ação foram criados diversos Conselhos Municipais da cidade que hoje funcionam
seguindo a legislação procedente.
</p>


<p>
O funcionamento dos Conselhos Municipais de Políticas Públicas e Regionais de Campo Grande vem sendo visto
como uma referência aos diversos  municípios do Estado e do Brasil que almejam criar seus colegiados.E esta Assessoria desenvolveu seu trabalho procurando ministrar algumas palestras nas Universidades e cursos em geral divulgando o trabalho 
que exercita como orgão de acolhimento dos mais o diversos colegiados criados e em fucionamento tanto que o
Conselho Municipal dos Direitos e Defesa dos Povos Indigenas de Campo Grande, Mato Grosso do Sul -CMDDI-CG-MS,  do municipio de Miranda foi criado com base na experiencia de nossas Capital do Estado de Mato Grosso do Sul, assim como o Conselho Municipal da Juventude -CMJ de  Dourados , o Conselho Municipal dos Direitos da Criança e do Adolescente -CMDCA no município de Corumbá, Sidrolândia e o Conselho Municipal do Meio Ambiente do Município de Bonito. Destaca que os Conselhos     Municipais de Cultura do Estado de Mato Grosso do Sul foram criados a partir dos cursos promovidos por esta Assessoria de Assistência aos Orgãos Colegiados -AAOC promovido pelo Estado e ministrado por esta Assessoria há aproximadamente trinta municipios de Mato Grosso do Sul e foi oferecido pela Secretaria  de Educação  do município de Corumbá, em nosso Estado.</p>

<p>
E cumprindo o seu papel de acolhimento mantem esta Assessoria, um acervo de livros de atas e de posses dos conselheiros possibilitando uma consulta sempre que procurada tanto que deixou na Biblioteca da Agência Municipal do Meio Ambiente e Planejamento Urbano -PLANURB
 uma dissertação  apresentada a um Programa de Pós Graduação, em nivel de Mestrado Acadêmico em Meio Ambiente e Desenvolvimento Regional da Universidade para o Desenvolvimento  do Estado e da Região do Pantanal -UNIDERP, como parte dos requisitos para a obtenção do titulo de mestre em Meio Ambiente e Desenvolvimento Regional que foi concedido, em
</p>
